@import '../../vendor/filament/forms/dist/module.esm.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

.filament-tables-header-cell button {
    @apply !text-white;
    @apply !border-gray-100;
  }

.filament-tables-table > thead tr {
    @apply !bg-blue-500;
    @apply !text-white;
  }
